/* Réglages généraux */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --tertiary-color: #F2F2F2;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.MainContentWrapper {
    display: flex;
    flex-flow: row wrap;
}
@media screen and (min-width : 1440px) {
    .MainContentWrapper {
        justify-content: space-between;
        padding: 0 3.2rem;
    }
}
/* Réglages étoiles */
.fa-star {
    color: var(--primary-color);
}
.fa-star.unchecked {
    color: var(--tertiary-color);
}

/* Header */
.MainHeader {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "Logo . SignUp" "NavBar NavBar NavBar";
    margin-top: 2rem;
    
}
.MainHeaderLogo {
    grid-area: Logo;
    padding-left: 1.25rem;
}
.MainHeaderSignUp {
    grid-area: SignUp;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-weight: bold;
    padding-right: 1rem;
}
.MainHeaderNavBar {
    grid-area: NavBar;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.MainHeaderNavBarLink {
    display: inline-flex;
    width: 50%;
    justify-content: center;
    border-bottom: 3px solid var(--tertiary-color);
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}
.MainHeaderNavBarLink[data-active=true] {
    border-bottom-color:var(--primary-color);
    color: var(--primary-color);
}
@media screen and (min-width : 1440px) {
    .MainHeader {
        display: grid;
        grid-template-columns: 66% 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "Logo NavBar NavBar SignUp";
        margin-top: 0;
    }
    .MainHeaderLogo {
        display: flex;
        align-items: flex-end;
    }
    .MainHeaderNavBarLink {
        grid-area: NavBar;
        border-bottom: none;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 2rem;
    }
    .MainHeaderNavBarLink:[data-active=true] {
        border-color: var(--primary-color) ;
        color: var(--primary-color);
    }
    /* .MainHeaderNavBarLink::before {
        border-top: 3px solid transparent ;

    } */
    .MainHeaderSignUp {
        justify-content: center;
        align-items: flex-end;
    }
}
/* Barre de recherche */
.SearchWrapper {
    padding: 0 1.25rem;
}
.SearchForm {
    display: flex;
    margin-top: 2rem;
}
.SearchFormIconWrapper {
    background-color:var(--tertiary-color);
    border-radius: 1rem 0 0 1rem;
    padding: 1rem 1rem;
    text-align: center;
    -webkit-border-radius: 1rem 0 0 1rem;
    -moz-border-radius: 1rem 0 0 1rem;
    -ms-border-radius: 1rem 0 0 1rem;
    -o-border-radius: 1rem 0 0 1rem;
    width: 2rem;
}
.SearchFormBtn {
    background-color: var(--primary-color);
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 1rem ;
    -webkit-border-radius: 1rem ;
    -moz-border-radius: 1rem ;
    -ms-border-radius: 1rem ;
    -o-border-radius: 1rem ;
    padding: 0.5rem 0.5rem;
    width: 4rem;
}
.SearchFormBtnText {
    display: none;
}
.SearchFormInput {
    border-left: none;
    border-right: none;
    border-bottom:  var(--tertiary-color) 1px solid;
    border-top:  var(--tertiary-color) 1px solid;
    padding-left: 1rem;
    margin-right: -1rem;
    width: 20rem;
}
.SearchFormInput::placeholder {
    font-weight: 600; 
    opacity: 1;
    font-size: 1.2rem;
}
@media screen and (min-width : 1440px) {
    .SearchFormBtn {
        width: 8rem;
        border-radius: 0 1rem 1rem 0;
        -webkit-border-radius: 0 1rem 1rem 0;
        -moz-border-radius: 0 1rem 1rem 0;
        -ms-border-radius: 0 1rem 1rem 0;
        -o-border-radius: 0 1rem 1rem 0;
}
    .SearchFormBtnIcon {
        display: none !important;
    }
    .SearchFormBtnText {
        display: contents;
        font-weight: bold;
    }
}
/* Filtres */
.FilterWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.FilterTitle {
    font-weight: bold;
    margin: 0 0 1rem 0;
    width: 100%;
}
.FilterFilter i{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.FilterText {
    margin: 0 0.6rem;
    font-weight: bold;
}
.FilterFilter {
 display: flex;
 border: var(--tertiary-color) 2px solid;
 border-left: var(--secondary-color);
 border-radius: 2rem;
 margin-bottom: 1rem;
 margin-right: 0.4rem;
 align-items: center;
 -webkit-border-radius: 2rem;
 -moz-border-radius: 2rem;
 -ms-border-radius: 2rem;
 -o-border-radius: 2rem;
 font-weight: bold; 
}
.FilterFilter::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}
.FilterFilter:hover:before {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.3s ease-in;
}
filter::before {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FilterFilter::after {
    width: 0.5rem;
}
.Eco::before {
    content: "\f53a";
}
.Family::before {
    content: "\f1ae";
}
.Romantic::before {
    content: "\f004";
}
.Animals::before {
    content: "\f6d3";
}
filter:hover {
 background-color: var(--secondary-color);
 transition: 0.3s ease-in;
 cursor: pointer;
 border-color: var(--primary-color);
}
.FilterFooter {
    margin-bottom: 2rem;
}
.FooterIcon::before {
    font-family: "Font Awesome 5 Free";
    content: "\f129";
    font-weight: 900;
    color: var(--primary-color);
    border: var(--tertiary-color) 2px solid;
    border-radius: 50%;
    padding: 0.3rem 0.6rem;
    margin-right: 0.1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media screen and (min-width : 1440px) {
    .FilterWrapper {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .FilterTitle {
        display: flex;
        width: 4.5rem;
        align-items: center;
    }
    .FilterFilter {
        margin-right: 1.5rem;
    }
}
/* Hébergements */
.Hosting {
    order: 2;
    padding: 2rem 1.25rem;
}
.HostingCard {
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    margin-bottom: 1rem;
    height: 12.5rem;
    padding: 0.25rem;
}
.HostingCardFigure {
    display: flex;
    margin: 0;
    height: 7.5rem;
}
.HostingCardImg, .ActivitiesCardImg {
    border-radius: 1.25rem 1.25rem 0 0;
    -webkit-border-radius: 1.25rem 1.25rem 0 0;
    -moz-border-radius: 1.25rem 1.25rem 0 0;
    -ms-border-radius: 1.25rem 1.25rem 0 0;
    -o-border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
    height: auto;
    justify-content: center;
    object-fit: cover;
}
.HostingCardFigc {
    padding-left: 0.5rem;
    margin-top: 0.5rem;
}
.HostingCardTitle {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.HostingCardStar {
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.More {
    font-weight: bold;
}
@media screen and (min-width : 1440px) {
    .Hosting {
        display: flex;
        flex-flow: row wrap;
        order: 1;
        width: 60%;
        row-gap: 1rem;
        column-gap: 1rem;
        background-color: var(--tertiary-color);
        border-radius: 1.25rem;
        padding: 2rem 2.25rem;
    }
    .HostingCardTitle {
        margin: 0;
    }
    .HostingCard {
        flex: 1 1 30%;
    }
    .HostingHeader h1 {
        margin: 0 50rem 2rem 0;
    }
}
/* Favoris */
.Favorite {
    order: 1;
    background-color: var(--tertiary-color);
    padding: 2rem 1.25rem ;
}
.FavoriteTitle {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}
.FavoriteCard {
    display: flex; 
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    -ms-border-radius: 1.25rem;
    -o-border-radius: 1.25rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    background-color: white;
    padding: 0.25rem;
    margin: 0.5rem 0;
    height: 9rem;
    justify-content: space-between;
}
.FavoriteCardWrapContainer {
    display: flex;
}
.FavoriteCardImg {
    width: 8rem;
    height: 8.9rem;
    object-fit: cover;
    border-radius: 1.25rem 0 0 1.25rem;
    -webkit-border-radius: 1.25rem 0 0 1.25rem;
    -moz-border-radius: 1.25rem 0 0 1.25rem;
    -ms-border-radius: 1.25rem 0 0 1.25rem;
    -o-border-radius: 1.25rem 0 0 1.25rem;
}
.FavoriteCardFigure {
    margin: 0;
    max-width: 8rem;
}
.FavoriteCardWrapper {
    flex-direction: column;
    padding-left: 0.5rem;
    justify-content: space-between;
}
.FavoriteCardFigc {
    margin: 0;
    padding-top: 0.5rem;
}
.FavoriteCardFigc h2 {
    margin: 0;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}
.FavoriteCardFigc p {
}
.FavoriteCardStar {
    padding-bottom: 0.5rem;
}
@media screen and (min-width : 1440px) {
    .Favorite {
        width: 30%;
        padding: 2rem 2.25rem;
        border-radius: 1.25rem;
    }
    .FavoriteCard {
        margin: 0;
        margin-bottom: 2rem;
    }
    .FavoriteTitle {
        
    }
}
/* Activités */
.Activities {
    order: 3;
    padding: 2rem 1.25rem;
}

.ActivitiesCard {
    display: flex;
    flex-flow: column wrap;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    margin: 1rem 0;
    height: 12.5rem;
}
.ActivitiesCardFigure {
    display: flex;
    margin: 0px;
    height: 7.5rem;
}
.ActivitiesCardFigc {
    display: flex;
    align-content: center;
    margin: 1rem 0.5rem;
    font-size: 0.7rem;
}
@media screen and (min-width : 1440px) {
    .Activities {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 2fr 2fr;
        column-gap: 2.25rem;
        grid-template-areas: "Titre . . ." "Port Fort Calanque Church" "Port Isle Calanque Park";
        padding: 2rem 0;
    }
    .ActivitiesCard {
        height: auto;
    }
    .Port {
        grid-area: Port;
    }
    .Fort {
        grid-area: Fort;
    }
    .Calanque {
        grid-area: Calanque;
    }
    .Church {
        grid-area: Church;
    }
    .Isle {
        grid-area: Isle;
    }
    .Park {
        grid-area: Park;
    }
    .ActivitiesCardFigure {
    }
    .ActivitiesCardFigc {
        height: 3.4rem;
    }
}
/* Footer */
.Footer {
    background-color: var(--tertiary-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 1.25rem;
    margin-top: 2rem;
}
.Footer ul{
    padding: 0;
}
@media screen and (min-width : 1440px) {
    .Footer {
        padding: 2rem 3.20rem;
        flex-direction: row;
        padding-right: 32rem;
        
        justify-content: flex-evenly;
    }
}