@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
.Main {
    padding: 0 1rem;
}
/* Header */
.MainHeader {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "Logo . SignUp" "NavBar NavBar NavBar";
}
.MainHeaderLogo {
    grid-area: Logo;
    padding-left: 0.5rem;
}
.MainHeaderSignUp {
    grid-area: SignUp;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #0065FC;
    font-weight: bold;
    padding-right: 0.5rem;
}
.MainHeaderNavBar {
    grid-area: NavBar;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.MainHeaderNavBarLink {
    display: inline-flex;
    width: 50%;
    justify-content: center;
    border-bottom: 3px solid #F2F2F2;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}
.MainHeaderNavBarLink[data-active=true] {
    border-bottom-color:#0065FC;
    color: #0065FC;

}

/* Barre de recherche */
.SearchWrapper {
    
}
.SearchForm {
    display: flex;
    margin-top: 2rem;
}
.SearchFormIconWrapper {
    background-color:#F2F2F2;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem 1rem;
    text-align: center;
    -webkit-border-radius: 1rem 0 0 1rem;
    -moz-border-radius: 1rem 0 0 1rem;
    -ms-border-radius: 1rem 0 0 1rem;
    -o-border-radius: 1rem 0 0 1rem;
    width: 2rem;
}
.SearchFormBtn {
    background-color: #0065FC;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 1rem ;
    -webkit-border-radius: 1rem ;
    -moz-border-radius: 1rem ;
    -ms-border-radius: 1rem ;
    -o-border-radius: 1rem ;
    padding: 1rem 1rem;
    width: 3.5rem;
}
.SearchFormInput {
    border-left: none;
    border-right: none;
    border-bottom: #F2F2F2 1px solid;
    border-top: #F2F2F2 1px solid;
    padding-left: 1rem;
    margin-right: -1rem;
    width: 20rem;
}
.SearchFormInput::placeholder {
    font-weight: bold; 
    opacity: 1;
}

/* Filtres */
.FilterWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.FilterTitle {
    font-weight: bold;
    margin: 0 0 1rem 0;
    width: 100%;
}
.FilterFilter i{
    color: #0065FC;
    background-color: #DEEBFF;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.FilterText {
    margin: 0 0.6rem;
    font-weight: bold;
}
.FilterFilter {
    display: flex;
    border: #F2F2F2 2px solid;
    border-left: #DEEBFF;
    border-radius: 2rem;
    margin-bottom: 1rem;
    margin-right: 0.4rem;
    align-items: center;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
.FilterFooter {
    margin-bottom: 2rem;
}
.FilterFooterIcon {
    color: #0065FC;
    border: #F2F2F2 2px solid;
    border-radius: 50%;
    padding: 0.3rem 0.6rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* Hébergements */
.housing {
    display: flex;
}
.HousingCard {
    display: flex;
    flex-flow: column wrap;
    border-radius: 1.25rem;
    box-shadow: 0 0 15px #0000002e;
    margin-bottom: 1rem;
}
.HousingCardFigure {
    display: flex;
    margin: 0px;
    height: 200px;
}
.HousingCardImg, .ActivitiesCardImg {
    display: flex;
    border-radius: 1.25rem 1.25rem 0 0;
    -webkit-border-radius: 1.25rem 1.25rem 0 0;
    -moz-border-radius: 1.25rem 1.25rem 0 0;
    -ms-border-radius: 1.25rem 1.25rem 0 0;
    -o-border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
    justify-content: center;
}
.HousingCardFigc {
    padding-left: 0.5rem;
}
.HousingCardTitle {
    font-size: 1rem;
    margin: 0;
}
.HousingCardStar {
    color: #F2F2F2;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}
.HousingCardStar [data-active] {
    color: #0065FC;
}
/* Favoris */
.Favorite {
    display: flex;
    background-color: #F2F2F2;
    flex-flow: column wrap;
}
.FavoriteTitle {
    display: flex;
    justify-content: space-between;
}
.FavoriteCard {
    display: flex;
    background-color: white;
    padding: 1rem;
    width: 90%;
}
.FavoriteCardImg {
    display: flex;
    width: 100%;
}

/* Activités */

/* Footer */