/* Vue Mobile_First */
/* Réglages généraux */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --tertiary-color: #F2F2F2;
    --tertiary-color-alt: #D9D9D9;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
h1 {
    font-size: 1.4rem;
}
.price {
    font-weight: bold;
}
.Main {
    width: 100%;
}
.BodyWrapper {
    box-sizing: border-box;
    padding-top: 1.63rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.MainContentWrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
}

/* Réglages étoiles */

.fa-star {
    color: var(--primary-color);
}
.fa-star.unchecked {
    color: var(--tertiary-color-alt);
}

/* Header */

.MainHeader {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "Logo . SignUp" "NavBar NavBar NavBar";
    flex: 1;
    background-color: #FFF;
    position: sticky;
    top: 0;
}
.MainHeaderLogoLink {
    display: flex;
    align-items: flex-end;
}
.MainHeaderLogo {
    grid-area: Logo;
    padding-left: 1.25rem;
}
.MainHeaderSignUp {
    grid-area: SignUp;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-weight: 700;
    padding-right: 1.25rem;
}
.MainHeaderNavBar {
    grid-area: NavBar;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
}
.MainHeaderNavBarLink {
    display: inline-flex;
    width: 50%;
    justify-content: center;
    border-bottom: 3px solid var(--tertiary-color);
    margin-top: 1rem;
    padding-bottom: 1rem;
}
.MainHeaderNavBarLink:hover {
    border-color: var(--primary-color) ;
    color: var(--primary-color);
}

/* Barre de recherche */

.SearchWrapper {
    padding: 0.5rem 3.55%;
}
.SearchWrapper h1 {
    font-size: 1.4rem;
}
.SearchForm {
    display: flex;
    margin-top: 2rem;
}
.SearchFormIconWrapper {
    background-color:var(--tertiary-color);
    border-radius: 1rem 0 0 1rem;
    padding: 1rem 1rem;
    text-align: center;
    font-size: 1.1rem;
    width: 2rem;
}
.SearchFormBtn {
    background-color: var(--primary-color);
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 1rem ;
    padding: 0.5rem 0.5rem;
    width: 4rem;
    transition:  background-position 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 0.2s linear;
}
.SearchFormBtn:hover {
    transform: scale(1.1);
    background-position: -3.75rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.SearchFormBtnText {
    display: none;
}
.SearchFormInput {
    border-left: none;
    border-right: none;
    border-bottom:  var(--tertiary-color) 1px solid;
    border-top:  var(--tertiary-color) 1px solid;
    padding-left: 1rem;
    margin-right: -1rem;
    width: 20rem;
    font-weight: 600;
    font-size: 1.1rem;
}
.SearchFormInput::placeholder {
    font-weight: 600; 
    opacity: 1;
    font-size: 1.1rem;
}

/* Filtres */

.FilterWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.FilterTitle {
    font-weight: bold;
    margin: 0 0 1rem 0;
    width: 100%;
}
.FilterFilter i{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FilterText {
    margin: 0 0.6rem;
    font-weight: bold;
}
.FilterFilter {
 display: flex;
 border: var(--tertiary-color-alt) 2px solid;
 border-left: var(--secondary-color);
 border-radius: 2rem;
 margin-bottom: 1rem;
 margin-right: 0.4rem;
 align-items: center;
 font-weight: bold; 
}
.FilterFilter::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    height: 3.125rem;
    width: 3.125rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.FilterFilter:hover:before {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.3s ease-in;
}
.FilterFilter::after {
    width: 0.5rem;
}
.Eco::before {
    content: "\f53a";
}
.Family::before {
    content: "\f1ae";
}
.Romantic::before {
    content: "\f004";
}
.Animals::before {
    content: "\f6d3";
}
.FilterFilter:hover {
 background-color: var(--secondary-color);
 transition: 0.3s ease-in;
 cursor: pointer;
 border-color: var(--primary-color);
}
.FilterFooter {
    margin-bottom: 2rem;
}
.FooterIcon::before {
    font-family: "Font Awesome 5 Free";
    content: "\f129";
    font-weight: 600;
    color: var(--primary-color);
    border: var(--tertiary-color-alt) 1px solid;
    border-radius: 50%;
    padding: 0.3rem 0.6rem;
    margin-right: 0.2rem;
    line-height: 1.5rem;
}
/* réglages commun aux 3 sections */
.HostingCard, .FavoriteCard, .ActivitiesCard {
    box-shadow: 0 0 1rem rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.HostingCard:hover, .FavoriteCard:hover, .ActivitiesCard:hover {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* Hébergements */

.Hosting {
    order: 2;
    padding: 2rem 1.25rem;
}
.HostingCard {
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    height: 12.5rem;
    padding: 0.25rem;
    background-color: #FFF;
    max-width: 30.62rem;
}
.HostingCardWrapper {
    flex: 1;
}
.HostingWrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
}
.HostingCardWrapContainer {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.HostingCardFigure {
    display: flex;
    margin: 0;
    height: 7.5rem;
}
.HostingCardImg, .ActivitiesCardImg {
    border-radius: 1.25rem 1.25rem 0 0;
    width: 100%;
    height: auto;
    justify-content: center;
    object-fit: cover;
}
.HostingCardFigc {
    padding-left: 0.5rem;
}
.HostingCardTitle {
    font-size: 1rem;
    margin: 0.5rem 0;
}
.HostingCardStar {
    padding-left: 0.5rem;
}
.More {
    font-weight: bold;
    padding-top: 1rem;
}

/* Favoris */

.Favorite {
    order: 1;
    background-color: var(--tertiary-color);
    padding: 2rem 3.55% ;
    width: 100%;
    box-sizing: border-box;
}
.FavoriteTitle {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
}
.FavoriteCard {
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    background-color: white;
    padding: 0.25rem;
    margin: 0.5rem 0;
    max-height: 9.12rem;
    min-width: 20.93rem;
    max-width: 30.62rem;
}
.FavoriteCardWrapContainer {
    display: flex;
}
.FavoriteWrapper {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.FavoriteCardImg {
    width: 8rem;
    height: 8.13rem;
    max-height: 8.9rem;
    object-fit: cover;
    border-radius: 1.25rem 0 0 1.25rem;
}
.FavoriteCardFigure {
    margin: 0;
    max-width: 8rem;
}
.FavoriteCardWrapper {
    display: flex;
    flex-direction: column;
    column-gap: 0.5rem;
    padding-left: 0.5rem;
}
.FavoriteCardFigc {
    margin: 0;
    flex: 1;
}
.FavoriteCardFigc h2 {
    margin: 0;
    font-size: 1.2rem;
}
.FavoriteCardStar {
    padding-bottom: 0.5rem;
}

/* Activités */

.Activities {
    order: 3;
    padding: 2rem 3.55%;
}
.ActivitiesCard {
    display: flex;
    flex-flow: column wrap;
    border-radius: 1.25rem;
    box-shadow: 0 0 1rem #0000002e;
    margin: 1rem 0;
}
.ActivitiesCardFigure {
    display: flex;
    margin: 0px;
    height: 7.7rem;
}
.ActivitiesCardFigc {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    font-size: 0.7rem;
}
:target {
    padding-top: 7.19rem;
    margin-top: -7.19rem;
}
/* Footer */

.Footer {
    background-color: var(--tertiary-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding: 1.25rem;
    margin-top: 2rem;
    flex: 1;
}
.Footer ul{
    padding: 0;
}
.Footer li {
    padding: 0.5rem 0;
}

.Footer li:hover {
    font-weight: bold;
}
.Footer h3 {
    font-size: 1rem;
}
/* Breakspoints */

/* vue petit mobile */
@media screen and (max-width: 374px) {
    .SearchFormInput {
        padding-left: 0;
    }
    .FavoriteCard {
        min-width: auto;
    }
}

/* Vue Tablette */
@media screen and (min-width: 768px) {
    .MainContentWrapper {
        column-gap: 1.5rem;
        row-gap: 2rem;
    }
    .MainContentWrapper h1 {
        margin-bottom: 2rem;
    }
    .Main {
        margin: 0 3.55%;
    }
    .MainHeaderLogo {
        padding-left: 3.25rem;
    }
    .MainHeaderSignUp {
        padding-right: 3.25rem;
    }
    .SearchWrapper {
        padding: 0;
    }
    .Favorite {
        box-sizing: border-box;
        display: flex;
        flex-flow: column wrap;
        order: 1;
        border-radius: 1.25rem;
        padding: 2rem 0.5rem;
    }
    .FavoriteTitle, .HostingTitle {
        margin: 0;
    }
    .Hosting {
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex: 1.5;
        border-radius: 1.25rem;
        background-color: var(--tertiary-color);
        padding: 2rem 0.5rem;
    }
    .HostingWrapper {
        justify-content: space-around;
        flex-flow: row wrap;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .HostingHeader h1{
        width: 100%;
    }
    .HostingCard {
        width: 45%;
        box-sizing: border-box;
    }
    .Activities {
        padding: 2rem 0;
    }
    :target {
        padding-top: 7.19rem;
        margin-top: -7.19rem;
    }
    .ActivitiesWrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 2fr 2fr;
        column-gap: 1rem;
        grid-template-areas: "Port Fort Calanque Church" "Port Isle Calanque Park";
    }
    .ActivitiesCard {
        height: auto;
    }
    .ActivitiesCard a {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .Port {
        grid-area: Port;
    }
    .Fort {
        grid-area: Fort;
    }
    .Calanque {
        grid-area: Calanque;
    }
    .Church {
        grid-area: Church;
    }
    .Isle {
        grid-area: Isle;
    }
    .Park {
        grid-area: Park;
    }
    .essai {
        flex: 1;
    }
    .ActivitiesCardFigc {
        height: 3.4rem;
    }
    .More, .HostingCardTitle {
        display: flex;
        justify-content: flex-start;
    }
    .Footer {
        padding: 2rem 3.20rem;
        flex-direction: row;
    }
    .FooterColumn {
        flex: 1;
    }
}

/* Vue Laptop */
@media screen and (min-width: 1024px) {
    .BodyWrapper {
        padding-top: 0;
    }
    .MainContentWrapper {
        column-gap: 2.50rem;
    }
    .MainHeader {
        display: grid;
        grid-template-columns: 66% 1fr 1fr 1fr;
        grid-template-areas: "Logo NavBar NavBar SignUp";
        margin-top: 0;
        padding: 0 3.55% 1.5rem;
        position: sticky;
        top: 0px;
    }
    .MainHeaderLogo {
        display: flex;
        align-self: flex-end;
        padding-left: 0;
    }
    .MainHeaderNavBar {
        padding-top: 0;
    }
    .MainHeaderNavBarLink {
        grid-area: NavBar;
        border-bottom: none;
        margin-top: 0;
        padding-bottom: 0;
        padding-top: 3rem;
        border-top: 3px solid transparent ;
    }
    :target {
        padding-top: 5.875rem;
        margin-top: -5.875rem;
    }
    .MainHeaderNavBarLink:hover {
        border-color: var(--primary-color) ;
        color: var(--primary-color);
    }
    .MainHeaderSignUp {
        justify-content: center;
        align-items: flex-end;
        padding-right: 0;
        transition: padding-bottom 0.5s ease-out;
    }
    .MainHeaderSignUp:hover {
        border-top: 3px solid var(--primary-color) ;
        background-color: var(--secondary-color);
        background-color: #deebff88;
        border-radius: 0 0 1.25rem 1.25rem;
        padding-bottom: 1.5rem;
    }
    .SearchWrapper {
        padding-top: 2rem;
    }
    .MainSearchTitle {
        margin-bottom: 0;
    }
    .MainSearchSubTitle {
        margin-top: 0;
    }
    .SearchFormBtn {
        width: 8rem;
        border-radius: 0 1rem 1rem 0;
    }
    .SearchFormBtnIcon {
        display: none !important;
    }
    .SearchFormBtnText {
        display: contents;
        font-weight: bold;
    }
    .Hosting {
        flex: 2;
    }
    
    .Favorite {
        order: 2;
        flex: 1;
    }
}

/* Vue Desktop */
@media screen and (min-width: 1440px) {
    .Footer {
        padding: 2rem 3.20rem;
        flex-direction: row;
        padding-right: 32rem;
    }
    .MainContentWrapper {
        column-gap: 3.25rem;
    }
    .Hosting {
        display: flex;
        flex-flow: row wrap;
        order: 1;
        row-gap: 1rem;
        column-gap: 1rem;
        background-color: var(--tertiary-color);
        border-radius: 1.25rem;
        padding: 2rem 2.25rem;
    }
    .HostingCardTitle {
        margin: 0;
    }
    .HostingCard {
        flex: 1 1 30%;
    }
    .HostingHeader h1 {
        margin: 1rem 40rem 1rem 0;
        width: 100%;
    }
    .Favorite {
        width: 30%;
        padding: 2rem 2.25rem;
    }
    .FavoriteCardFigc p {
        margin-top: 0;
    }
    .FilterWrapper {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .FilterTitle {
        display: flex;
        width: 4.5rem;
        align-items: center;
    }
    .FilterFilter {
        margin-right: 1.5rem;
    }
}
